@import '@fontsource/fira-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  font-family: 'system-ui';
}

:root {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background: transparent;
  display: none;
}

::-webkit-scrollbar:vertical {
  width: 0px;
}

::-webkit-scrollbar:horizontal {
  height: 0px;
}

@media (width >= 640px) {
  ::-webkit-scrollbar {
    display: block;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-box bg-primary;
  }
}
